# Сборка (локальная)
build/
bin/
obj/

# Логи и временные файлы
*.log
*.swp
.DS_Store

# Базы данных (мы не храним историю сообщений в коде)
*.db

# Настройки редактора (вкусовщина, в профи-проектах их не пушат)
.vscode/
.idea/

# Исполняемые файлы (бинарники)
chat_server
chat_client
