# Игнорируем папки сборки (самое важное)
**/build/
.cache/

# Игнорируем скомпилированные исполняемые файлы
chat_server
chat_client

# Игнорируем объектные файлы и библиотеки
*.o
*.a
*.so
*.out

# Игнорируем файлы базы данных (чтобы не пушить историю чата в GitHub)
*.db
*.db-journal

# Игнорируем настройки IDE
.vscode/
.idea/
*.swp
*.save

# Игнорируем системные файлы
.DS_Store
Thumbs.db
