# Игнорируем локальную сборку твоего ПК (она не запустится в Alpine)
build/

# Игнорируем историю Git и настройки (уменьшает размер образа)
.git/
.gitignore
.vscode/

# Игнорируем локальные логи и базу (в контейнере создадутся свои)
*.log
*.db

# Игнорируем сам Dockerfile
Dockerfile
.dockerignore
